/* biến dùng chung */
:root {
  --header-height: 70px;
  --main-bg: #d5d5d5;
  --main-transition: all 0.3s ease;
  --main-color: whitesmoke;
  --main-font-weight: 500;
}
/* reponsive */

/* ẩn các đối tượng đến khi responsive */
.header-bar-icon,
.header-logo-mobile {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  height: var(--header-height);
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: transparent; /*trong suốt*/
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
header.scroll-active {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
li {
  list-style: none;
  font-style: normal;
}
a {
  text-decoration: none;
  color: unset;
}
input {
  outline: none;
}
.container {
  max-width: 1000px;
  margin: auto;
}
.row-flex {
  display: flex;
  justify-content: space-between;
}
.header-search {
  position: relative;
}
.header-logo img {
  width: 100px;
  cursor: pointer;
}
.header-menu nav ul {
  display: flex;
}
header .row-flex {
  align-items: center;
}
.header-menu nav ul li {
  padding: 0 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.header-menu nav ul li:hover {
  background-color: yellowgreen;
}
.header-menu nav ul li {
  line-height: 69px;
  font-size: smaller;
}
.header-search input {
  height: 30px;
  border: 1px solid black;
  padding-left: 23px;
  border-radius: 20px;
}
.header-search i {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.header-cart i {
  font-size: larger;
  cursor: pointer;
  position: relative;
}
.header-cart i::after {
  position: absolute;
  display: flex;
  content: attr(number);
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  right: -10px;
  top: -10px;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: smaller;
}
.slider {
  width: 100vw;
  overflow: hidden;
  aspect-ratio: 2.43/1;
  position: relative;
}
.slider-imgs {
  position: relative;
}
.slider-img {
  position: absolute;
}
.slider-img img {
  width: 100vw;
}
.slider-arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50px);
  display: flex;
  flex-direction: column;
}
.slider-arrow i {
  cursor: pointer;
  font-size: larger;
}
.heading-text {
  font-weight: bolder;
  padding: 12px;
  margin: 20px 0;
  margin: 20px 0;
  position: relative;
  margin: 20px 0;
}
.heading-text::after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
}
.heading-text ::before {
  position: absolute;
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  left: 12px;
  bottom: 0;
  background-color: black;
  border-radius: 10px;
}
.hot-product .row-gird-hot-product {
  grid-template-columns: repeat(5, 19%);
}
.hot-product-item img {
  width: 100%;
}
.hot-product-item > p {
  font-weight: normal;
}
.hot-product-item > span {
  font-size: smaller;
  font-weight: 300;
}
.hot-product-price {
  margin-top: 6px;
}
.hot-product-price p {
  font-weight: normal;
}
.hot-product-price p span {
  font-weight: normal;
  font-size: small;
  text-decoration: line-through;
}
.row-gird {
  padding: 0 14px;
}
.row-gird {
  display: grid;
  justify-content: space-between;
}
/* footer */
footer {
  margin-top: 50px;
  padding: 50px 0 0 12px;
  background-color: var(--main-bg);
}
footer .row-gird {
  grid-template-columns: repeat(5, 19%);
  gap: 10px;
}
.footer-item p:first-child {
  font-weight: bolder;
  margin-bottom: 12px;
}
.footer-item p {
  font-weight: lighter;
  line-height: 32px;
}
/* thuộc tính các đối tượng khi responsive */
@media only screen and (max-width: 1249px) {
  .row-flex,
  .row-gird {
    padding: 0 14px;
  }
  .header .row-flex {
    height: var(--header-height);
  }
  .header-menu {
    position: fixed;
    top: calc(-100% - var(--header-height));
    left: 0;
    width: 100vw;
    background-color: black;
    color: var(--main-color);
    transition: var(--main-transition);
  }
  .header-menu.active {
    top: var(--header-height);
  }
  .header-menu nav ul {
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
  }
  .header-logo-mobile img {
    width: 100px;
  }
  .header-bar-icon,
  .header-logo-mobile {
    display: block;
  }
  .header-search {
    display: none;
  }
  .header-logo {
    display: none;
  }
  .header-menu nav ul li:hover {
    background-color: var(--main-bg);
  }
  /* responsive hot-produce  */
  .hot-product .row-gird-hot-product {
    grid-template-columns: repeat(2, 49%);
    row-gap: 20px;
  }
  /* responsive footer  */
  footer .row-gird {
    grid-template-columns: repeat(2, 49%);
  }
}
